<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/serviceProvider.css" asp-append-version="true" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>House Care</title>

</head>
<body>
    <h4 id="h1">
        Forest Care</h1>
        <center>
            <div class="row">
                <div class="column">
                    <div class="card">
                        <img id="newimg" src="~/service-3.jpg">
                        <h3 id="cardheading">Forest Care</h3>
                        <p>
                            <table>
                                <tr>
                                    <th>Description</th>
                                </tr>
                                <tr>
                                    <td>Forests are vital to life on Earth. They purify the air we breathe, filter the water we drink, prevent erosion, and act as an important buffer against climate change. Forests offer a home to much of the world’s diverse array of plants and animals and provide essential natural resources from timber and food to medicinal plants. Forests also support the lives of local communities and help them to thrive. </tr>

                            </table>
                            <a style="color:black;border:1px solid black" href="/orderService/order">
                                Book Now
                            </a>
                        </p>


                        </p>
                    </div>
                </div>
        </center>
        <br>     <br>     <br>     <br>     <br>     <br>     <br>     <br>     <br>     <br>     <br>     <br><br>
        <partial name="_header" />
</body>
</html>