<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/serviceProvider.css" asp-append-version="true" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>House Care</title>

</head>
<body>
    <h4 id="h1">
        Trees Care</h1>
        <center>
            <div class="row">
                <div class="column">
                    <div class="card">
                        <img id="newimg" src="~/medium.jpg">
                        <h3 id="cardheading">Trees Care</h3>
                        <p>
                            <table>
                                <tr>
                                    <th>Description</th>
                                </tr>
                                <tr>
                                    <td>Plants are some of the easiest (and most sustainable) ways to make a landscape more vibrant and welcoming. Planting the right tree for the right place helps ensure that your tree will live a healthy life for years to come. The most successful designs are those that are planned and take climate and environmental factors into consideration.  </tr>

                            </table>
                            <a style="color:black;border:1px solid black" href="/orderService/order">
                                Book Now
                            </a>
                        </p>


                        </p>
                    </div>
                </div>
        </center>
        <br>     <br>     <br>     <br>     <br>     <br>     <br>     <br>     <br>     <br>     <br>     <br>
        <partial name="_header" />
</body>
</html>