body {
    background-image: url("/new.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
h2 {
    font-family: 'Brush Script MT';
    font-size: 40px;
}

#s2 {
    color: green;
}

.danger {
    background-color: black;
    color: #FFFFFF;
}

    .danger:hover {
        background-color: green;
        color: #FFFFFF;
    }

.clickme {
    margin-left: 460px;
    background-color: black;
    padding: 8px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}