body {
    background-image: url("/new.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
h2 {
    font-family: 'Brush Script MT';
    font-size: 2.5rem;
}

#s2 {
    color: green;
}

.danger {
    background-color: black;
    color: #FFFFFF;
}

    .danger:hover {
        background-color: green;
        color: #FFFFFF;
    }

.clickme {
    margin-left: 28.75rem;
    background-color: black;
    padding: 0.5rem 1.25rem;
    text-decoration: none;
    font-weight: bold;
    border-radius: 0.625rem;
    cursor: pointer;
}
@media(max-width:576px) {
    html {
        font-size: 30%;
    }
}

@media(max-width:992px) {
    html {
        font-size: 85%;
    }
}

@media(max-width:768px) {
    html {
        font-size: 56%;
    }
}

@media(min-width:1200px) {
    html {
        font-size: 100%;
    }
}
