#submit1:link {
    color: red;
}
body {
    background-image: url("/intro.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#submit1:visited {
    color: black;
}

#submit1:hover {
    color: gray;
}

#submit1:active {
    color: red;
}

#a:link {
    color: black;
}

#a:visited {
    color: black;
}

#a:hover {
    color: gray;
}

#a:active {
    color: red;
}



#login {
    padding: 16px;
    margin-left: 330px;
}

input {
    width: 50%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

    input:focus {
        background-color: #ddd;
        outline: none;
    }

#submit1 {
    width: 50%;
    padding: 8px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    text-align: center;
}

#margin {
    margin: 10px;
}

#Login {
    margin-left: 150px;
}
