#submit1:link {
    color: red;
}

body {
    background-image: url("/m.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#submit1:visited {
    color: black;
}

#submit1:hover {
    color: gray;
}

#submit1:active {
    color: red;
}

#a:link {
    color: black;
}

#a:visited {
    color: black;
}

#a:hover {
    color: gray;
}

#a:active {
    color: red;
}



#login {
    padding: 1rem;
    margin-left: 20.62rem;
}

input {
    width: 50%;
    padding: 0.9375rem;
    margin: 0.3125rem 0 1.375rem 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

    input:focus {
        background-color: #ddd;
        outline: none;
    }

#submit1 {
    width: 50%;
    padding: 0.5rem;
    margin: 0.3125rem 0 1.375rem 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    text-align: center;
}

#margin {
    margin: 0.625rem;
}

#Login {
    margin-left: 9.375rem;
}
@media(max-width:576px) {
    html {
        font-size: 30%;
    }
}

@media(max-width:992px) {
    html {
        font-size: 85%;
    }
}

@media(max-width:768px) {
    html {
        font-size: 56%;
    }
}

@media(min-width:1200px) {
    html {
        font-size: 100%;
    }
}