html{
    font-size:93%;
}
body {
    background-image: url("/intro.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

button:hover {
    opacity: 1;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

button {
    background-color: #04AA6D;
    color: white;
    padding: 0.875rem 1.25rem;
    margin: 0.5rem 0rem;
    border: none;
    cursor: pointer;
    width: 1rem;
    opacity: 0.9;
}

input {
    width: 100%;
    padding: 0.9375rem;
    margin: 0.3125rem 0 1.375rem 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

    input:focus {
        background-color: #ddd;
        outline: none;
    }

#submission {
    margin-left: 25rem;
    width: 25%;
}

#div1 {
    padding: 1rem;
}

#SignUp1 {
    margin-left: 25rem;
}

@media(max-width:576px) {
    html {
        font-size: 30%;
    }
}

@media(max-width:992px) {
    html {
        font-size: 85%;
    }
}

@media(max-width:768px) {
    html {
        font-size: 56%;
    }
}

@media(min-width:1200px) {
    html {
        font-size: 100%;
    }
}
