<!DOCTYPE html>
<html lang="en">
<head>
  
    </head>
<body>
    <partial model="model">
        <footer>
            <div class="footer-content">
                <h3>Daniyal Haider</h3>
                <p>We provide Landscape Services to our customers, become our valuable member to join our cause</p>
                <ul class="socials">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>

                    <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                </ul>
            </div>
            <div class="footer-bottom">
                <p>copyright &copy; <a href="#">Daniyal Haider</a>  </p>
                <div class="footer-menu">
                    <ul class="f-menu">
                        <li> <a class="nav-link text-dark" asp-area="" asp-controller="Services" asp-action="Service">Services</a></li>
                        <li>  <a class="nav-link text-dark" asp-area="" asp-controller="orderService" asp-action="order">Booking</a></li>
                        <li> <a class="nav-link text-dark" asp-area="" asp-controller="Contact" asp-action="Contact">Contact</a></li>
                        <li> <a class="nav-link text-dark" asp-area="" asp-controller="About" asp-action="AboutUs">About Us</a></li>
                    </ul>
                </div>
            </div>

        </footer>

    </partial>
</body>
</html>