<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
    <partial model="mod">

        <select name="Service style="font-size: 1.25rem" id="cars">
            <option value="House Care">House Care</option>
            <option value="Trees Care">Trees Care</option>
            <option value="Garden Care">Garden Care</option>
            <option value="Forest Care">Forest Care</option>
            <option value="Field Care">Field Care</option>
            <option value="Flower Care">Flower Care</option>
        </select>
    </partial>
</body>
</html>
