<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/services.css" asp-append-version="true" >
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services Page</title>

     
      
     
</head>
<body>

    <center>
        <partial name="_Service" />
    </center>
    <br><br>
    <a style="margin-left: 29.375rem;" href="/orderService/order" class="clickme danger">Book Me</a>

    <br><br>    <br><br>
    <div style="margin-left: 6.25rem; margin-top: -13.75rem; ">
    <div class="gallery">
        <a target="_blank" href="~/small.jpg">
            <img id="a2" src="~/small.jpg">
        </a>
        <div style="color: white" class="desc">
            <a style="color:black" href="/ServiceProvider/houseCare">House Care</a>
        </div>
    </div>

    <div class="gallery">
        <a target="_blank" href="~/medium.jpg">
            <img id="a2" src="~/medium.jpg" alt="Forest">
        </a>
        <div style="color: white" class="desc">
            <a style="color:black" href="/ServiceProvider/treesCare">Trees Care</a>
        </div>
    </div>

    <div class="gallery">
        <a target="_blank" href="~/large.jpg">
            <img id="a2" src="~/large.jpg" alt="Northern Lights">
        </a>

        <div style="color: white" class="desc">
            <a style="color:black" href="/ServiceProvider/gardenCare">Garden Care</a>

        </div>
    </div>
    <div id="margin">
        <div class="gallery1">
            <a target="_blank" href="~/service-1.jpg">
                <img id="a2" src="~/service-1.jpg" alt="Mountains">
            </a>
            <div style="color: white" class="desc">
                <a style="color:black" href="/ServiceProvider/fieldCare">Field Care</a>
            </div>

        </div>
    </div>
    <div id="margin">
        <div class="gallery1">
            <a target="_blank" href="~/service-2.jpg">
                <img id="a2" src="~/service-2.jpg" alt="Mountains">
            </a>
            <div style="color: white" class="desc">
                <a style="color:black" href="/ServiceProvider/flowersCare">Flowers Care</a>
            </div>

        </div>
    </div>

    <div class="gallery1">
        <a target="_blank" href="~/service-3.jpg">
            <img id="a2" src="~/service-3.jpg" style="margin-top: -59.375rem" alt="Mountains">
        </a>
        <div class="desc" style="color: white; margin-top: -23.75rem" alt="Mountains">
            <a style="color:black" href="/ServiceProvider/forestCare">Forest Care</a>
        </div>

    </div>

        </div>
    <div id="mar">
        <center>

        </center>
    </div>


    <partial name="_header" />

</body>
</html>